html {
box-sizing: border-box;
}


body {
    background-image: url("./images/netlaptop1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*Important Buttons*/

#top-buttons {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 10px;
}

#login-button {
    color: rgb(250, 241, 241);
    background-color: rgb(229, 9, 20);
    border-radius: 4px;
    border-style: none;
    height: 32px;
    width: 74px;
}

#language {
    border: 1px solid rgb(239, 239, 239);
    border-radius: 4px;
    background-color: rgb(69, 67, 67);
    color:rgba(237, 237, 237, 1);
    width: 100px;
    text-align: center;
    opacity: 0.8;
}

/*Main Sign Up Information in Center of Page*/

#netflix-signup {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Offset by 50% of its own height and width */
    text-align: center;
    color: whitesmoke; 
}


/*Important Images*/