@font-face {
    font-family:Netflix-Sans-Light;
    src: url(fonts/Netflix\ Sans\ Light.otf);
}
@font-face {
    font-family: Netflix-Sans-Medium;
    src: url(fonts/Netflix\ Sans\ Medium.otf);
}
@font-face {
    font-family: Netflix-Sans-Bold;
    src: url(fonts/Netflix\ Sans\ Bold.otf);
}

* {
box-sizing: border-box;
}

/*Fullscreen Movie Background*/
#background-image {
    position: relative;
    height: 100vh;
    background-image: url("images/Netflix-Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}
/*Important Buttons*/

button:hover {
    cursor: pointer;
}

#top-buttons {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 10px;
}

#login-button {
    font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(250, 241, 241);
    background-color: rgb(229, 9, 20);
    border-radius: 4px;
    border-style: none;
    height: 32px;
    width: 74px;
}

#language {
    font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: none;
    border-radius: 4px;
    background-color: rgba(126, 123, 123, 0.6);
    color:rgba(237, 237, 237, 1);
    width: 100px;
    text-align: center;
}

#get-started {
    border-style: none;
    border-radius: 4px;
    height: 56px;
    width: 173.4px;
    background-color: rgb(229, 9, 20);
    color: rgb(250, 241, 241);
}

/*Main Sign Up Information in Center of Page*/

.netflix-signup {
    font-family: Netflix-Sans-Medium, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Offset by 50% of its own height and width */
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column; 
}

#create-membership {
    font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#start-price {
    font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.enter-email {
    border-style: 0 solid transparent;
    border-radius: 4px;
    width: 326.6px;
    height: 56px;
    text-align: left;
    background-color: rgba(126, 123, 123, 0.4);
    font-size: 1rem;
    margin-right: 5px;
}

#get-started {
    font-size: 1.125rem;
}

/*Information after the main section*/

#curved-line {
  height: 100px;
  background: linear-gradient(to bottom, #ff2050 0%, transparent 100%);
  clip-path: ellipse(50% 100% at 50% 0%);
  transform: rotate(180deg);
}