@font-face {
    font-family:Netflix-Sans-Light;
    src: url(fonts/Netflix\ Sans\ Light.otf);
}
@font-face {
    font-family: Netflix-Sans-Medium;
    src: url(fonts/Netflix\ Sans\ Medium.otf);
}
@font-face {
    font-family: Netflix-Sans-Bold;
    src: url(fonts/Netflix\ Sans\ Bold.otf);
}

* {
box-sizing: border-box;
}

/*Fullscreen Movie Background*/
#background-image {
    position: relative;
    height: 100vh;
    background-image: url("images/Netflix-Background\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    margin: 0;
}

#background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, black 95%);
    z-index: 0;
}
/*Important Buttons*/

button:hover {
    cursor: pointer;
}

#top-buttons {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 10px;
}

#login-button {
    font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(250, 241, 241);
    background-color: rgb(229, 9, 20);
    border-radius: 4px;
    border-style: none;
    height: 32px;
    width: 74px;
}

#language {
    font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: none;
    border-radius: 4px;
    background-color: rgba(126, 123, 123, 0.6);
    color:rgba(237, 237, 237, 1);
    width: 100px;
    text-align: center;
}

#get-started {
    border-style: none;
    border-radius: 4px;
    height: 56px;
    width: 173.4px;
    background-color: rgb(229, 9, 20);
    color: rgb(250, 241, 241);
}


/*Main Sign Up Information in Center of Page*/

.netflix-signup {
    font-family: Netflix-Sans-Medium, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Offset by 50% of its own height and width */
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column; 
}

#create-membership {
    font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#start-price {
    font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.enter-email {
    border-style: 0 solid transparent;
    border-radius: 4px;
    width: 326.6px;
    height: 56px;
    text-align: left;
    background-color: rgba(126, 123, 123, 0.4);
    font-size: 1rem;
    margin-right: 5px;
}

#get-started {
    font-size: 1.125rem;
}

/*Information after the main section*/

#after-curved-line {
    background: linear-gradient(to bottom, rgba(64, 97, 231, 0.4) 10%, rgb(0, 0, 0) 90%);
    padding: 0 80px;
}

/*First information card*/

#learn-more-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#learn-more-card {
    border: 1px solid #ededf0;
    height: 94px;
    width: 810px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(to right, #001f3f, #0074D9);
    padding-right: 24px;
    padding-left: 24px;
}

#learn-more-button {
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #5B5B66;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 115px;
    font-weight: bold;
}

#learn-more-card p {
    font-size: 18px;
}

#learn-more-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#learn-more-text {
    font-weight: bold;
}

/*Top Trending Movies Scrollbar*/

.trend-now{
font-family: Netflix-Sans-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
}

.trend-now h2 {
    font-size: 24px;
}

.trend-select {
height: 40px;
width: 141px;    
border: 1px  solid #e4e2e2;
border-radius: 4px;
}

.trend-now select{
    font-family: Netflix-Sans-Medium, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background: rgb(0,0,0);
    padding: 10px;
}

.select-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.trend-now select option {
    background: #ebeaea;
    color: #000;
}

.trend-now select option:hover {
    background: #1d1c1c;
    color: whitesmoke;
}
/*Trending Now Scroll Bar*/



/*Placeholder*/
